<%- include ../partials/header.ejs %>

<main class="container">
    <h1>product Details</h1>
    <form method="post" action="<%= product._id %>">
        <fieldset class="form-group">
            <label for="name" class="col-sm-2">name: *</label>
            <input name="name" id="name" required value="<%= product.name %>" />
        </fieldset>
        <fieldset class="form-group">
            <label for="Type" class="col-sm-2">Type: *</label>
            <input name="Type" id="Type" required value="<%= product.Type %>" />
        </fieldset>
        <fieldset class="form-group">
            <label for="color" class="col-sm-2">Color: *</label>
            <textarea name="color" id="color" required><%= product.color %>
            </textarea>
        </fieldset>
        <div>
            <%= product.created %>
        </div>
        <button class="btn btn-primary col-sm-offset-2">Save</button>
    </form>
</main>

<%- include ../partials/footer.ejs %>